
.orgis {
  color: #333333;
}
.post1{
  width: 50%;
  margin: 60px 40px 300px;
  float: right;
}
.form2 input[type=text], input[type=password]{
  width: 100%;
  padding: 10px 20px;
  margin: 15px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.form2 button {
  background-color: green;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.form1{
  text-align: center;
  margin: 40px 0 20px 0;
}
.wrapp {
  width: 40%;
  float: left;
  background-image: url('img/black-white-halftone-pattern-background_1017-17898.avif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.wrapp hr {
  width: 250%;
}
.wrapp img{
  width: 80%;
  margin-left: 100px;
  float: left;
}
.wrapp button {
  background-color: beige;
  border-radius: 50%;
  width: 100px;
  padding: 7px;
  outline: none;
  cursor: pointer;
  margin: 0px 30% 100px 300px;
}
.container1 {
  padding: 70px 9%;
  display: flex;
  flex-direction: row;
  gap: 4rem;
  align-items: center;
  cursor: pointer;
}
.containerbox{
  display: flex;
  align-items: center;
  gap: 3rem;
  border: 1px solid black;
  border-radius: 20px;
  padding: 30px 40px;
  box-shadow: -11.7px -11.7px 32px rgb(255, 255, 255 / 15%);
  transition: all .40s ease;
}
.containerbox:hover{
  transform: translateY(-15px);
}
.centertext {
  text-align: center;
}
.centertext h3{
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.centertext h2{
  font-size: var(--h2-font);
  line-height: 1.2;
}
.categoriescontent{
  display: flex;
  flex-direction: row;
  gap: 10rem;
  align-items: center;
  cursor: pointer;
  text-align: center;
  margin-top: 3rem;
  margin-left: 4rem;
}
.box1 img {
  height: auto;
  width: 110px;
  margin-bottom: 20px;
}
.box1 {
  padding: 25px 60px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 30px 40px;
  box-shadow: -11.7px -11.7px 32px rgb(255, 255, 255 / 15%);
  transition: all .40s ease;
}
.box1:hover {
  transform: translateY(-15px);
}
.box1 h4{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.3;
  transition: all .40s ease;
}
.box1 h4:hover {
  color: var(--primary-color);
}
.box1 p{
  font-size: var(--p-font);
  color: var(--medium-grey);
  font-weight: 500;
}
.butonkrye{
  text-align: center;
  margin-top: 5rem
}
.btn{
  display: inline-block;
  padding: 16px 30px;
  font-size: var(--p-font);
  font-weight: 700;
  background: var(--primary-color);
  color: var(--ash);
  border-radius: 30px;
  transition: all .40s ease;
}
.btn:hover{
  transform: scale(0.9) translateY(-5px);
}