@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  font-family: inherit;
  background-color: var(--white);
  color: var(--dark-grey);
  letter-spacing: -0.4px;
}

.banner {
  background-color: #ffffff;
  text-align: center;
  padding: 50px 20px;
  margin-top: 200px;
}

.banner h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 10px;
}

.banner p {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 20px;
}

.btn-banner {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-banner:hover {
  background-color: #0056b3;
}

.post1{
  width: 50%;
  margin: 60px 40px 300px;
  float: right;
}
.form2 input[type=text], input[type=password]{
  width: 100%;
  padding: 10px 20px;
  margin: 15px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.form2 button {
  background-color: green;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.form1{
  text-align: center;
  margin: 40px 0 20px 0;
}
.wrapp {
  width: 40%;
  float: left;
  background-image: url('img/black-white-halftone-pattern-background_1017-17898.avif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.wrapp hr {
  width: 250%;
}
.wrapp img{
  width: 80%;
  margin-left: 100px;
  float: left;
  animation: change 10s infinite ease-in-out;
}
.wrapp button {
  background-color: beige;
  width: 100px;
  padding: 7px;
  outline: none;
  cursor: pointer;
  margin: 0px 30% 100px 300px;
}
.container1 {
  padding: 70px 9%;
  display: flex;
  flex-direction: row;
  gap: 4rem;
  align-items: center;
  cursor: pointer;
}
.containerbox{
  display: flex;
  align-items: center;
  gap: 3rem;
  border: 1px solid black;
  border-radius: 20px;
  padding: 30px 40px;
  box-shadow: -11.7px -11.7px 32px rgb(255, 255, 255 / 15%);
  transition: all .40s ease;
}
.containerbox:hover{
  transform: translateY(-15px);
}
.centertext {
  text-align: center;
}
.centertext h3{
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.centertext h2{
  font-size: var(--h2-font);
  line-height: 1.2;
}
.categoriescontent{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  gap: 5rem;
  justify-content:center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  margin-top: 3rem;
  margin-left: 4rem;
  margin-right:4rem;
}
.box1 img {
  height: auto;
  width: 110px;
  margin-bottom: 20px;
}
.box1 {
  padding: 25px 60px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 30px 40px;
  box-shadow: -11.7px -11.7px 32px rgb(255, 255, 255 / 15%);
  transition: all .40s ease;
}
.box1:hover {
  transform: translateY(-15px);
}
.box1 h4{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.3;
  transition: all .40s ease;
}
.box1 h4:hover {
  color: var(--primary-color);
}
.box1 p{
  font-size: var(--p-font);
  color: var(--medium-grey);
  font-weight: 500;
}
.butonkrye{
  text-align: center;
  margin-bottom: 40px;
  width: 200px;
  margin: 5rem auto;
}
.btn{
  display: inline-block;
  padding: 16px 30px;
  font-size: var(--p-font);
  font-weight: 700;
  background: var(--primary-color);
  color: var(--ash);
  border-radius: 30px;
  transition: all .40s ease;
}
.btn:hover{
  transform: scale(0.9) translateY(-5px);
}

@keyframes change {
  0% {
    background-image: url('img/Online-Learn-Courses-p1x1yjmoc2f9t2e3kt028qnv3vp2cb51rm1isamguc.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  25% {
    background-image: url('img/pngtree-online-network-online-education-class-illustration-png-image_3164534.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  50% {
    background-image: url('img/pngtree-online-network-online-education-class-illustration-png-image_3164534.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  75% {
    background-image: url('img/Online-Learn-Courses-p1x1yjmoc2f9t2e3kt028qnv3vp2cb51rm1isamguc.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  100% {
    background-image: url('img/pngtree-online-network-online-education-class-illustration-png-image_3164534.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
} */
.course{
  background-size: cover;
  background-position: center;
}
.coursecontent{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 2rem;
  align-items: center;
  cursor: pointer;
  text-align: center;
  margin-top: 4rem;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 15px;
}
.row{
  background: var(--light-grey);
  padding: 0px 0px 10px 0px;
  border-radius: 20px;
  box-shadow: 0px 5px 40px rgb(19, 8, 73 / 13%);
  transition: all ,40s ease;
}
.row:hover {
  transform: translateY(-15px);
}
.row img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.coursetext{
  padding: 35px 20px;
}
.coursetext h5{
  color: orange;
  font-size: 18px;
  font-weight: 700;
}
.coursetext h3{
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin: 15px 0 15px;
  transition: all .40s ease;
}
.coursetext h3:hover {
  color: yellow;
}
.coursetext h6 {
  color: #696969;
  font-size: var(--p-font);
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.rating {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.star i {
  color: var(--primary-color);
  margin-right: 2px;
  font-size: 17px;
}
.review p {
  color: #696969;
  font-size: var(--p-font);
  font-weight: 400;
  letter-spacing: 1px;
}
.sliderow {
  display: flex;
  width: 3200px;
  transition: 0.8s;
}
.slidecol{
  width: 800px;
  height: 400px;
  position: relative;
}
.userimg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.userimg img {
  height: 100%;
  border-radius: 10px;
}
.usertext {
  background: #2d3a59;
  width: 520px;
  height: 270px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  color: #d3d4d6;
  padding: 45px;
  box-sizing: border-box;
  z-index: 2;
}
.usertext p{
  font-size: 18px;
  line-height: 24px;
}
.usertext h3 {
  margin: 35px 0 5px;
  color: #fff;
}
.container2 {
  left: 23%;
  position: absolute;
  width: 800px;
  height: 400px;
}
/*.container2 {
  width: 800px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/
.indicator {
  position: absolute;
  left: 54%;
  transform: translateX(-50%);
  bottom: -80px;
}
.btn1 {
  display: inline-block;
  height: 15px;
  margin: 4px;
  margin-bottom: 30px;
  width: 15px;
  border-radius: 15px;
  background: red;
  cursor: pointer;
}
.active {
  width: 45px;
}
.testimonial1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.contact {
  padding: 60px 13%;
  margin-top: 100px;
  background: rgb(195, 195, 195);
}
.maincontact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 2rem;
}
.contactcontent img{
  height: auto;
  width: 70px;
  max-width: 100%;
  margin-bottom: 30px;
}
.contactcontent li {
  margin-bottom: 18px;
}
.contactcontent li {
  list-style-type: none;
}
.contactcontent li a {
  display: block;
  color: slategrey;
  font-weight: 500;
  font-size: 15px;
  transition: all .40s ease;
}
.contactcontent li a:hover{
  transform: translateX(10px);
  color: #2b72fb;
}
.lasttext p{
  text-align: center;
  padding: 18px;
  color: gray;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}